[2019-07-22 22:03] vertexclique opened #1 "Add "receive" like method to message decoding"

[2019-07-22 22:07] vertexclique opened #2 "Observer implementation for seeing the runtime status"

[2019-07-22 22:08] vertexclique opened #3 "Macro style meta-architecture instantiation"
Instead of writing a bunch of boilerplate code. People can able to do this:

[code]

[2019-07-22 22:10] vertexclique opened #4 "Generic message types for internal management"
Need some internal management for message types

[2019-07-22 22:14] vertexclique opened #5 "Message gating and natural replication over the broadcast"
* Message gating for the destination – aka routes known messages.

* Natural replication or broadcast needed instead of the ordinary round-robin.

[2019-07-22 22:16] vertexclique opened #6 "Documentation for the docs.rs"
* Write documentation for every piece.
* redraw the readme's architecture diagram. Clearly.

[2019-07-22 22:17] vertexclique opened #7 "Configurable system tick"
Write a configurable system tick:
- [ ] if possible for any supervisor
- [ ] if possible for any children group

[2019-07-22 22:21] vertexclique opened #8 "Use scoped threads if there is no panic catch implemented inside for micro concurrency"

[2019-07-22 22:45] vertexclique opened #9 "Dynamic supervision"
- [ ] looking for impls out there
- [ ] message queue impl to take over the replacements
- [ ] replacement syntax and definition of replacement conditions
- [ ] complete branch migration

[2019-07-27 16:36] #1 closed

[2019-08-06 23:33] vertexclique opened #13 "Shutdown implementation"
Program recovery might be managed programmatically in addition to signals.

[2019-08-06 23:48] vertexclique opened #15 "Context spawn impl"
Enable the system to use context as children generation and scoped execution.
Should be done before scoped API implementation takes place.

[2019-08-06 23:53] #13 closed

[2019-08-16 21:38] vertexclique opened #16 "Development of lightweight process implementation"
~Task architecture should be refactored to use `async-task`.~
[Lightproc](https://github.com/bastion-rs/bastion/pull/47) is created to have more suitable task system for Bastion (or any other supervision-based system on Rust)

[2019-08-18 21:54] xmclark opened #18 "windows and stable support"
Does this project aim to support stable channel and windows targets?

I was unable to build bastion on `stable-x86_64-pc-windows-gnu`. There is one unix-only package and some required nightly features.

I created a [draft PR](https://github.com/vertexclique/bastion/pull/17) that removes the unused nightly features and swaps the sigint catching for a platform solution using ctrlc crate.

I tested `

[2019-08-18 23:05] vertexclique commented on #18
That's awesome, and thanks for it!
I am unsure about the support of Windows since I haven't tested on Windows.
If people want to use it on Windows, why not? Definitely!
I am seeking continuous contributors and want to move this project to an organization if people want to help me maintain.

[2019-08-19 00:03] xmclark commented on #18
To improve windows confidence, you could add Appveyor or azure pipelines build step for PRs.

I’m happy to help with that.

[2019-08-19 00:11] vertexclique commented on #18
Would be nice, would like to include that in.

[2019-08-20 08:43] vertexclique opened #22 "Use futures::future::Abortable to implement global Kill strategies"
Replace all future spawn principles to use:
https://docs.rs/futures-preview/0.3.0-alpha.18/futures/future/struct.Abortable.html

That will make the system hook much more reliable. Because we won't wait for exiting from the future if we want to kill a future.

[2019-08-20 23:48] vertexclique commented on #22
This is also tied to `async-task` implementation. Not high-prio right now will wait for the stable release from that side.

[2019-08-20 23:55] #15 closed

[2019-08-20 23:56] vertexclique commented on #18
This is resolved. Now builds are working on Windows! Thanks for it @xmclark !

[2019-08-20 23:56] #18 closed

[2019-09-29 13:15] vertexclique opened #29 "Move parking_lot to std"
Sooner or later this will happen so move back to std Mutex.

It is super easy and nice for newcomers to this project.

[2019-09-29 16:34] #6 closed

[2019-09-29 22:34] vertexclique opened #32 "Bastion is looking for maintainers!"
As I have mentioned in [last paragraph on Reddit](https://www.reddit.com/r/rust/comments/day85g/announcing_bastion_020/), Bastion has a very bright future and there is room for it to improve and become a prominent runtime.

We are looking for maintainers who will:
* Simplify the code and guide the development
* Develop networking between cross installations.
* Make this project reactor-independent

[2019-09-30 18:52] xmclark opened #33 "Feature request: custom panic handling"
Attaching a custom panic handler would be useful in applications that want to run logging or cleanup code on catastrophic failures.

The panic handler shouldn’t interfere with the rusts built in panic handling solution.

[2019-09-30 22:53] vertexclique commented on #33
This is doable, for every failure will trigger a global handler closure.

[2019-10-01 16:42] xmclark commented on #33
Yeah I don't want to suggest the exact implementation. I'm more interested in the behavior of understanding when panics happen, and being able to act with some basic context of the failure.

My use case:
Running some user code (perhaps some event processors) that may panic. On failures, I need to ensure that I perform some cleanup up make a few service requests to tell other systems about failures

[2019-10-02 10:00] vertexclique commented on #32
Please send an email to `team [ta] bastion [tod] rs` if you're interested

[2019-10-05 17:41] vertexclique opened #35 "Explore using github actions"
Maintaining appveyor + travis is quite a bit painful. Github Actions can be a solution. If it is feasible let's move to that.

[2019-10-05 18:33] vertexclique opened #37 "Concurrency tests between supervisors"
use `loom` or alternatives. Needs research.

[2019-10-05 19:07] #35 closed

[2019-10-05 20:58] xmclark opened #40 "Question: project communication?"
Does bastion have a public facing IM or forum for discussion? If not, should we make one?

[2019-10-05 21:00] JohnTitor commented on #40
We have a Discord server, invitation link is listed on README.

[2019-10-05 21:00] xmclark commented on #40
Woops: totally missed this.

On the front page there is a link to a discord:
https://discord.gg/DqRqtRT

[2019-10-05 21:00] #40 closed

[2019-10-10 05:01] djKooks commented on #32
Hope to work on this, but needs to study before... 👨‍🎓

[2019-10-15 20:41] mh84 commented on #29
I'd like to have a look at this one :)

[2019-10-15 21:01] vertexclique commented on #29
Would be nice to have it :) let me know if you need help.

[2019-10-15 21:52] vertexclique commented on #8
We mightn't need this anymore after Lightproc and futures works well across the runtime.

[2019-10-15 21:55] vertexclique commented on #9
Dynamically spawned supervisors and processes should be available. futures should able to run a supervisor and place them under the tree.

[2019-10-15 21:56] vertexclique commented on #7
Channels from procs -> supervisor would solve close problems. @azastrael implemented most parts of it. It should prevent mentioned problems above.

[2019-10-15 21:59] vertexclique opened #48 "Executor development and design"
The new executor design document is here:
https://paper.dropbox.com/doc/Bastion-Executor-Design-Document-AmsdBId9x5CDqL5ewJT0IroAg-ged3kQPsVFNOIwuhgkeIY

This is a bigger feature that needs heavy collab from both runtime and also proc side.

## Main requirements
- [x] Fair scheduling with multiqueue
- [x] Optimal performance distribution with minimal cache misses
- [ ] Thread recovery

[2019-10-16 23:24] #29 closed

[2019-10-24 20:56] vertexclique commented on #16
Ongoing effort merged into our `dev` branch.

- [ ] Documentation
- [ ] Publishing to crates.io
- [ ] Create release notes
- [ ] More tests
- [ ] Write a README.md

@bastion-rs/core

[2019-10-30 21:40] vertexclique opened #54 "Process stack needs to store data"
We want to carry actual data with process stack but we can't because of size bounds are varying. We need to find a way to do this to make simpler callback implementation.

[code]

[2019-10-30 21:44] vertexclique commented on #54
@azastrael mentioned to not move whole environment to `Fn`.

[2019-11-02 15:22] azastrael opened #55 "After panic callbacks should know the error"
Hey :wave:!

It would be better if panic callbacks had access to the catched error. Something like:
[code]

[2019-11-02 15:36] azastrael opened #56 "After panic callbacks should be called without polling"
Hey :wave:!

Currently, for an after panic callback to get called, the `RecoverableHandle` associated with it needs to get polled even though the proc might have already panicked.

This would save us from periodically polling handles in `bastion`'s `Children`.

[2019-11-06 00:02] vertexclique opened #57 "Worker thread recovery for the executor"
The executor needs to recover worker threads on internal worker thread panic.

Currently, we continue operation with the rest of the threads that are mapped onto the cores. The panicked thread should be assigned to the same affinity that it left.

This case is very edgy but needed for tolerance.

[2019-11-06 10:44] vertexclique opened #59 "Docs and debug impls for 0.3.0"
Write docs and debug implementations for:
`bastion`, `bastion-executor` and `lightproc`.

Put this at the crate root.
[code]

[2019-11-06 10:45] vertexclique opened #60 "Proptest and concurrency tests for the executor"
`bastion-executor` needs these tests. Find out a way to organize testing.

[2019-11-06 10:47] vertexclique opened #61 "Reword README.md (for all workspace projects)"
Reword README so people should understand what Bastion does and what is the point of it.

[2019-11-06 10:48] #48 closed

[2019-11-06 10:50] vertexclique commented on #22
We need to think about this that do we still need this after the redesign.

[2019-11-06 10:51] vertexclique commented on #7
Tests should test at least thundering herd on close. #60
Can be closed when #60 is closed.

[2019-11-07 00:30] vertexclique commented on #5
This is perfectly done.

[2019-11-07 00:30] #5 closed

[2019-11-07 14:11] yavrib commented on #61
Reword as in rephrase everything/whatever is necessary?

[2019-11-07 16:13] azastrael commented on #61
@yavrib I'll let @vertexclique answer that, but for the **Getting Started**, the example used in `bastion::Bastion`should probably be used.

[2019-11-07 16:17] azastrael opened #68 "Fix clippy errors coming from lightproc"

[2019-11-07 16:32] azastrael commented on #22
@vertexclique isn't it what `ProcHandle::cancel` and `RecoverableHandle::cancel` do?

[2019-11-07 23:47] azastrael opened #73 "Community-related files"
Hey :wave:!

It would be nice if we had:
- [x] [guidelines for new contributors](https://help.github.com/en/github/building-a-strong-community/setting-guidelines-for-repository-contributors)
- [x] a [code of conduct](https://help.github.com/en/github/building-a-strong-community/adding-a-code-of-conduct-to-your-project)
- [x] [support resources](https://help.github.com/en/github/building-a-strong-c

[2019-11-08 00:00] vertexclique commented on #61
Yes. Main things are:
- [ ] the small storylike entry in readme
- [ ] rewording what project does (I've rewritten the main doc header, you can take a look – https://github.com/bastion-rs/bastion/blob/master/bastion/src/lib.rs#L6)
- [ ] Writing README for `bastion-executor` and `lightproc`.
- [ ] In main README using the example used in `bastion::Bastion` should be used. (https://github.com/bastion

[2019-11-08 00:00] #68 closed

[2019-11-08 03:03] azastrael opened #77 "Re-add logs"
Hey :wave:!

We need to re-add logs and the display of backtraces (in our own way).

[2019-11-08 03:04] azastrael opened #78 "Support configuring the system"
Hey :wave:!

We, at least, need to support allowing to disable the panic message catching and configuring what #77 might use.

[2019-11-08 23:26] vertexclique commented on #22
Yes, definitely. So we can close this.

[2019-11-08 23:26] #22 closed

[2019-11-10 05:15] JohnTitor commented on #73
I think it'd be nice that we have their documentation for all repo under bastion-rs so we should create `.github` repo and put them there?

[2019-11-10 19:31] senden9 opened #83 "No example from https://bastion.rs working"
Hi!
None of the examples from https://bastion.rs/#one is working for me. I create a common issue here because I think it is no coincidence that _both_ are broken. One does not compile, the other give a run-time error.

## Common
Cargo.toml:
[code]

Software versions:
[code]

## Example "configure every piece by yourself"
Code:
[code]
Error messages:
[code]

## Example "fort the proc-macro"
[code]

[2019-11-10 20:40] azastrael commented on #83
Hey @senden9 :wave:!

First of all, I'm very sorry for the inconvenience! We were able to find the origins of the two issues (which weren't connected) and they both have been fixed by `0.3.0` which will be released in the following days :wink:

`0.3.0` will have a lot of new, exiting features and I encourage you to look at our [two examples](https://github.com/bastion-rs/bastion/tree/master/bastio

[2019-11-10 21:19] senden9 commented on #83
Again on GitHub: Thanks, that was fast :D.

This examples are working. I will play around a bit with it. If I find something strange I will report!

[2019-11-10 21:19] #83 closed

[2019-11-11 15:51] azastrael opened #86 "Children group elements launched before the group itself"
Hey :wave:!

Currently, to allow `ChildrenRef` to both contain a list of a `ChildRef`s and be returned by `Bastion::children` and `Supervisor::children_ref`, the children's elements are launched before it (the `Child`s are launched by the creating method while the `Children` is launched by the `Supervisor` that received the `Message::Deploy` containing it).

We could either:
1) Continue doing that

[2019-11-11 18:21] azastrael opened #87 "Pass last message and panic error to the "before_restart" and "after_restart" callbacks"
Hey :wave:!

We should pass the eventual message that was received by a `Child` before faulting to the `before_restart` callbacks and the eventual panic error to the `after_restart` callbacks.

[2019-11-12 18:23] JohnTitor commented on #73
One minor question: what should we document with the support resources?
I'm not familiar with that so I don't come up with the content.

[2019-11-12 19:17] vertexclique commented on #73
Including:
* StackOverflow on the readme of the project
* Discord server invite.
* Asking questions tagged as `question` and putting this choice under (https://github.com/bastion-rs/bastion/issues/new/choose) maybe will be good.

[2019-11-13 16:09] vertexclique commented on #33
Now, Bastion has callbacks with `0.3.0`. Moreover, [lightproc](https://docs.rs/lightproc) has custom panic handling. Callbacks are implemented with #76 . So we can close this.

[2019-11-13 16:09] #33 closed

[2019-11-13 17:05] vertexclique commented on #60
Proptests for children are added. #91

[2019-11-13 22:31] #77 closed

[2019-11-14 00:00] vertexclique opened #100 "Link and Monitor reflection to Runtime"
Stale copy from [`rkallos`'s comment on lobste.rs](https://lobste.rs/s/mhky0b/announcing_bastion_0_3_highly_available#c_3wzabf):

[2019-11-14 03:29] vertexclique commented on #7
Spin loop needed before yielding the Children, Supervisor references. Tests surfaced this.

[2019-11-22 04:27] kellytk opened #102 "Support for tracing"
**Describe the solution you'd like**
Could `bastion` be improved by adding support for tracing?

Related crates: https://github.com/anelson/tracers, https://github.com/tokio-rs/tracing

Related issues: https://github.com/bastion-rs/bastion/issues/2, https://github.com/bastion-rs/bastion/issues/77

[2019-11-22 04:52] kellytk opened #103 "Support for hot code swapping"
**Describe the solution you'd like**
For systems that are intended to never stop, it's helpful if components of running systems, or perhaps additionally entire systems proper, may be updated gracefully.

If components are updated, associated message queues should not lose messages.  What other guarantees should be expected?

Would it be beneficial to add support for hot code swapping via WebAssemb

[2019-11-22 05:28] kellytk opened #104 "The uses of `unsafe`"
It's unlikely that a project described as "Highly-available Distributed Fault-tolerant Runtime" would prefer to use `unsafe`.  May I ask therefore what criteria its use has within the `bastion` project?

I have an interest in potentially using `bastion` as well in understanding the uses (code) of `unsafe` in the evolution of Rust. (language)

[2019-11-23 19:33] azastrael commented on #104
Hey @kellytk :wave:!

Thank you for creating this issue. Your interest and concerns about our use of `unsafe` blocks make perfect sense to us :).

Currently, `bastion` uses `unsafe` in two places: [`system.rs#L75`](https://github.com/bastion-rs/bastion/blob/a7b028d7b18f2d67d801ea5b8a7d5681dc89a2d3/bastion/src/system.rs#L75) and [`system.rs#L86`](https://github.com/bastion-rs/bastion/blob/a7b028d7b

[2019-11-23 23:57] kellytk commented on #104
Thank you @azastrael for your helpful reply.  I appreciate your intent to document the rationale behind uses of `unsafe`.  As that lands I'll have follow-up questions.

[2019-11-24 01:01] azastrael commented on #104
No problem @kellytk (and sorry for the late initial reply). I’m looking forward answering those questions :)

Don’t hesitate to join our discord server, if you haven’t already: https://discord.gg/DqRqtRT :D

[2019-11-24 02:24] kellytk commented on #104
Thank you for the invitation @azastrael.  Unfortunately I'm unable to use Discord however if you're willing to open a Gitter chat I'd gladly join and participate.

[2019-11-24 03:00] kellytk commented on #104
I found the Gitter chat under "bastionframework/community".  Would you accept a PR adding a link to the README?

[2019-11-24 12:27] azastrael commented on #104
Thank you @kellytk for proposing this PR. Unfortunately, we would prefer not to have two different chats at the same time. :)

[2019-11-24 15:41] vertexclique opened #105 "Max retries implementation"
Implementation for max retries is needed. Error delegation should take action with respect to max retries. This will minimize error chaining.

[2019-11-28 01:25] azastrael commented on #104
@kellytk I finally got back to working on Bastion (:tada:) and found a way to get rid of the `unsafe` code from the `bastion` crate (+ I added `#![deny(unsafe_code)]` to it :wink:).

[2019-11-28 01:26] kellytk commented on #104
@azastrael Excellent.

[2019-11-28 01:26] #104 closed

[2019-11-28 19:20] Patryk27 opened #109 "100% CPU usage"
Hi,

First of all: your project seems really neat and I'm on my way trying to create my first application using it :-)

Having that said:

Version: 0.3
Platform: Linux (kernel 5.3.8), Intel x86-64
Subsystem: bastion-executor
Compiler: Rust nightly (so it's `1.41.0-nightly (e87a205c2 2019-11-27)` now)

Running any of the provided examples (or just even plainly invoking `Bastion::init()`) makes my C

[2019-11-28 19:24] Patryk27 commented on #109
Hmm, other weird things happen now: having my "patch" applied, the application is *sometimes* (50% of the runs) getting stuck inside the `affine_steal()` function, consuming the 100% CPU time back again.

[2019-12-02 00:11] prettynatty opened #110 "Make msg! macro to return value"
msg! macro returning value is useful for constructing async interfaces to actors:

[code]

Currently, this code leads to compilation error, compiler sees `()` return type but expects `Result<BarId, Error>`.

Same problem happens with explicit return inside a macro:

[code]

[2019-12-02 10:13] #110 closed

[2019-12-03 20:32] vertexclique commented on #109
Hi, @Patryk27 thanks for reporting. Can you supply a minimal example that made you hit this issue?

[2019-12-03 20:45] Patryk27 commented on #109
Sure - it was virtually:
[code]

[2019-12-03 21:44] vertexclique commented on #102
We need to bikeshed for a possible solution to this. We need to take a closer look at tokio's tracing and check dependencies. Based on that we can include it or not. Seems like that's the one widely used around.

[2019-12-03 22:00] #16 closed

[2019-12-03 22:02] vertexclique commented on #109
Now topology will be fetched only once, at the very beginning of the runtime initialization. This should decrease the sampler's usage.

[2019-12-04 06:27] Patryk27 commented on #109
Great, thanks! :-) I'll check it later, but seems like it should be working fine now.

[2019-12-04 12:47] vertexclique commented on #109
Closing this, soon we will introduce a more advanced scheduler. Feel free to reopen it.

Small note: The main reason for CPU bump is basically runtime is looking for work to distribute to all cores with respect to core pinning.

[2019-12-04 12:48] #109 closed

[2019-12-10 00:28] vertexclique commented on #109
@Patryk27 Hi Patryk! You can give it a try. This issue is resolved after #115 .

[2019-12-10 13:25] azastrael opened #116 "Add a "spawn" method to "Bastion""
**Describe the solution you'd like**
Add a `spawn` method to `Bastion` that would roughly translate to `Bastion::children(|ch| ch.with_exec(_));`.

[2019-12-10 13:27] azastrael opened #117 "Get notified when a message has been received"
**Describe the solution you'd like**
Rename `Answer` to `Ask` and create two new structs called `Tell` (returned by `tell`) and `Broadcast` (returned by `broadcast`). The two new structs will implement `Future<Output = ()>` and become ready when the message has been received by all the targeted children.

[2019-12-10 13:28] azastrael opened #118 "Allow use of answer! outside of msg!"
**Describe the solution you'd like**
Create a new global macro `answer!(msg, your_answer);` and update the `answer!(your_answer);` created by calls to `msg!(...);` to support it.

[2019-12-10 13:29] azastrael opened #119 "Identify messages sender and send messages back"
**Describe the solution you'd like**
Add a way to identify a message's sender and/or get a reference to it to send messages back.

[2019-12-11 07:43] Stupremee commented on #116
Can I take care of this issue?

[2019-12-11 09:53] vertexclique commented on #100
Link concept in Erlang:
* https://erlangbyexample.org/links
* http://erlang.org/doc/reference_manual/processes.html#links
Monitor concept in Erlang:
* https://erlangbyexample.org/monitors
* http://erlang.org/doc/reference_manual/processes.html#monitors

[2019-12-11 11:55] azastrael commented on #116
@Stupremee most definitely ;)

I assigned the issue to you, don’t hesitate to tell me if you need some help (here or in Discord) :)

[2019-12-11 12:18] vertexclique opened #121 "Blocking pool for the system"
We want to incorporate a blocking pool to handle blocking operations separately from the SMP parallelism. Since SMP parallelism is affine and prone to congestion during the blocking operations we should dedicate blocking pool.

One important thing is here that yielding a thread in a blocking pool shouldn't be based on durations like any other Rust runtime implementation. It will be based on ß-redu

[2019-12-11 14:33] Patryk27 commented on #109
Hi, right now it works flawlessly, thanks! :heart:

[2019-12-11 16:07] Stupremee opened #123 "CONTRIBUTING.md link in README doesn't work"
The link to the CONTRIBUTING.md file in the README.md doesn't work.
It still points to the CONTRIBUTING.md file in this repository, but it was moved to [here](https://github.com/bastion-rs/.github/blob/master/CONTRIBUTING.md)

[2019-12-11 21:06] vertexclique commented on #61
This is done. Let's close this one.

[2019-12-11 21:06] #61 closed

[2019-12-12 08:49] #123 closed

[2019-12-12 08:50] vertexclique commented on #116
Thanks @Stupremee . Merged, we can close this now.

[2019-12-12 08:50] #116 closed

[2019-12-12 10:13] vertexclique opened #125 "Jettison global run queue in executor"
Work should be directly distributed to pinned run queues and we don't need a global run queue. This is a residual problem.

We need to remove this and replace it with processes that have their own priorities to schedule beforehand.

Priority will be determined based on reductions and API's directive.

[2019-12-13 22:27] #121 closed

[2019-12-14 09:04] kellytk opened #131 "Potential executor simplification"
Tokio is exploring [Structured Concurrency Support](https://github.com/tokio-rs/tokio/issues/1879).  If that's informed by and ultimately accommodates the needs of Bastion its custom executor could potentially be removed.

[2019-12-14 17:39] vertexclique commented on #131
Thanks for your suggestion.
 But there are couple of things that needs a spotlight:

1. First this project is not an actor system. This is a runtime since the beginning.
2. Tokio never have offered smth more general (https://github.com/tokio-rs/tokio/issues/1879#issuecomment-564394200) and never going to be. This project USED tokio before, while noone was implementing Erlang like runtime systems.

[2019-12-15 08:13] kellytk commented on #131
@vertexclique Being unfamiliar with both projects I'm unable to address most of your comment.  My thought was that if Tokio's introducing a similar but more generic solution it could be useful to Bastion.  Would you prefer that I close this issue?

[2019-12-15 10:57] vertexclique commented on #131
Thank you for your suggestion. There is nothing wrong with your thinking and truly I appreciate that you opened this issue otherwise we won't be aware of this thing. We are implementing the issues that we have talked on lobste.rs and they were very helpful. I think you've already understood the Bastion. For this time of being I want to close this issue.

[2019-12-15 10:57] #131 closed

[2019-12-15 13:13] vertexclique commented on #102
@bastion-rs/coredev what are you thoughts about this?

[2019-12-15 18:56] vertexclique opened #133 "Global/Local State API"
We need to have a storage backend to share data between processes (Global)
Share data in the same children group (Local)

[2019-12-15 19:54] vertexclique opened #134 "Compilation to WASM runtime"
Make everything ready for WASM runtime. The executor should have single thread. This is requested by various people to incorporate Bastion to their projects.

[2019-12-16 16:13] onsails opened #137 "Send failed to deliver messages to the dead-letters children"
There is a `SYSTEM.dead_letters` children which RefAddr is used as a signature for all anonymous sends. All messages sent back to those messages will be logged by it.
Next step is to send all failed-to-deliver message to the dead-letters.

Should be easy to implement and possibly also get rid of `Result` as a return type for sends. Result OK does not mean that message will be delivered especially

[2019-12-17 11:22] vertexclique opened #138 "Migrate and groom all issues to have a Rust Lang like issue tagging"
Hi all;

Currently, we are tagging issues with basic `research`, `support`, `help-wanted` like how GitHub suggests. For the people who have just started to contribute and/or for us sometimes it is really hard to pick and find the items related to an issue.

So here comes the proposal for issue tagging layout.
Which is diagonal to both bug, feature request and components:
* A-routing: Area: Routing

[2019-12-17 12:35] Stupremee commented on #138
What about a status tag to represent the status of the issue.

[2019-12-17 13:38] vertexclique commented on #138
What do you mean? Assignee, is it free or not, or deferred or going to be done?

[2019-12-17 13:40] Stupremee commented on #138
yep, e.g. `assigned`, `needs-change`, `done` / `finished`, `ready-to-implement`.

[2019-12-17 14:01] onsails opened #139 "Preserve mailbox on child respawn"
Currently on a child failure children will spawn another child. Previous child's mailbox will be disposed. It doesn't fit into let-it-fail concept.

We need `child`s to preserve mailbox on respawn. Also we need a lifecycle callbacks which can access child state and a message which caused child failure.

[2019-12-17 14:16] vertexclique commented on #138
`assigned` can be filtered by Github UI.
`done` is determined by the PR closing. If we write `Fixes #issuenr` it will be closed.
Lack of `ready-to-implement` shouldn't necessarily need someone to stop doing it.
`finished` is basically the same as `done` case.

[2019-12-17 19:50] #119 closed

[2019-12-17 21:21] vertexclique commented on #139
Like we have talked, let's go with flat hierarchy for this.

[2019-12-17 22:05] Stupremee commented on #3
I will implement these macros

[2019-12-20 15:23] vertexclique commented on #138
New labels are added. Let's groom the issues.

[2019-12-20 15:23] #138 closed

[2019-12-20 15:56] #78 closed

[2019-12-20 16:02] azastrael commented on #55
Duplicate of #87

[2019-12-20 16:02] #55 closed

[2019-12-20 16:07] #59 closed

[2019-12-20 16:09] azastrael commented on #8
@vertexclique can we close this issue?

[2019-12-20 17:45] vertexclique commented on #8
Yeah

[2019-12-20 17:45] #8 closed

[2019-12-20 21:59] prettynatty commented on #86
Actually in option #2 I'd return a list of `RefAddr`s which is helpful with both identifying and talking to every Child this Children contains.
#139 will show decoupling `Sender` and a `Child` could work.

[2019-12-21 20:19] JohnTitor commented on #73
This can be closed?

[2019-12-22 13:37] #73 closed

[2019-12-27 14:22] vertexclique opened #145 "Compilation to no_std"
Move all `bastion*` to no_std environment. I have testing devices. I can send out to you if you are in Europe.

[2019-12-27 19:33] vertexclique commented on #105
@cptrodgers Do you need help with this?

[2019-12-27 19:40] vertexclique commented on #145
test bump

[2019-12-27 19:48] vertexclique commented on #145
test

[2019-12-29 16:24] zmanian commented on #134
WASM should enable bastion-rs to offer something very similar to Erlang in terms of being able to distribute both code and data to distributed processes.

Erlang was designed to make functions serializable over the network allowing the persona of particular worker to evolve over time.

WASM allow you essentially do the same thing.

It seems inevitable to me that there will be WASM based Hadoop/Spa

[2019-12-30 22:41] rtyler opened #146 "Supervisor restart should allow for exponential backoff on retry"
**Is your feature request related to a problem? Please describe.**

For some failure models, such as a client trying to connect to a server which is offline, the current supervision model will effectively `loop { connect(); }` over and over again, with no "safe" backoff on retrying the child.

**Describe the solution you'd like**

Ideally, I would like to specify an ExponentialBackOff strategy for

[2019-12-30 23:07] rtyler commented on #146
My temporary workaround is to add a `map_err` to my workers where I invoke `connect` (a predictable source of errors):

[code]

[2019-12-31 01:59] rtyler opened #148 "Bastion will busy-loop consuming 100% of one CPU"
* **Version**: 0.3.1
* **Platform**: Linux/amd64
* **Subsystem**:

The snippet below will cause a CPU-intensive busyloop, which results in a CPU being occupied by an otherwise idle process. I would expect that the program below should instead have practically zero overhead

[code]

The pull request #147 represents the first part of the work, but does not completely address the issue

[2019-12-31 15:19] vertexclique commented on #148
Fixed by #147

[2019-12-31 15:19] #148 closed

[2019-12-31 18:10] Stupremee commented on #118
I can take care of this issue.

[2019-12-31 20:51] vertexclique commented on #3
Fixed by #140

[2019-12-31 20:51] #3 closed

[2020-01-17 13:35] o0Ignition0o commented on #134
Ok I have no idea how to do it, but I wanna give it a try.

[2020-01-18 19:54] vertexclique opened #154 "Create agnostic framework and runtime layer"
We can separate `bastion` and bastion-executor and create a layer for multiple executors. Further development can go without friction between executor layer and the surface API.

[2020-01-20 10:01] Relrin opened #155 "Usage of all possible resources for actors"
**Is your feature request related to a problem? Please describe.**
I would like to use all possible resources for spawning / handling actors on the machine as the default behaviour instead of setting up the limited amount of actors for the supervisor before starting up.

This feature can be considered as the improvement for the bastion, because I see the bastion as the good potential alternative t

[2020-01-20 10:16] o0Ignition0o commented on #155
Hey there :)

I really like the approach, and there's a couple of ways we could check for idle children and spawn / kill them accordingly.

I think it would make a lot of sense, OTOH I wonder how long spawning a child would take (depending on a child lifecycle it might add some latency and introduce non determinism the duration it takes to complete a task)

I don't know the bastion intrinsics well

[2020-01-20 10:26] onsails commented on #154
Which would also possibly allow to create a no-std executor for no-std target.

[2020-01-20 10:27] vertexclique commented on #155
This is exactly the case (autoscaling workers) mentioned by @rtyler. Please correct me if I am wrong?
The simplest case would be creating a Resizer like https://doc.akka.io/docs/akka/current/routing.html#dynamically-resizable-pool
and reuse the existing code to configure the resizer.
As an initial set of algorithms for autoscaling and descaling down it would be nice to take a look at the Akka docs

[2020-01-20 10:29] o0Ignition0o commented on #154
I might wanna put #134 on hold until we figure it out then.

[2020-01-20 10:36] Relrin commented on #155
and reuse the existing code to configure the resizer.
As an initial set of algorithms for autoscaling and descaling down it would be nice to take a look at the Akka docs.

This is also a good strategy for handling incoming traffic. I think it could be considered as the part of this feature request.

[2020-01-20 10:36] vertexclique commented on #155
@Relrin yes, that's the intention. We will put this on the roadmap.

[2020-01-20 10:42] Relrin commented on #155
One of the ways to handle it is to define a timeout / time-to-live durations, so that it will kill workers that work not good enough. It can happen when the actors spend too much time for processing something (http requestS, long-running tasks) and needs to reorganize the code (do pipeline the processing?).

[2020-01-22 21:27] vertexclique commented on #105
Implemented and closed. Thanks to @Relrin !

[2020-01-22 21:27] #105 closed

[2020-01-22 21:28] vertexclique commented on #146
This is now implemented in #157 . Closing… :)

[2020-01-22 21:28] #146 closed

[2020-01-23 10:52] Relrin opened #158 "Registry for active actors"
**Is your feature request related to a problem? Please describe.**
In Elixir / Erlang languages developers has a universal way to register running actors in the system and communicate with them depends of the required use case, for example:
- Communication between the actors is more preferable by names rather then by id, because the id can change in runtime (due unexpected restarts, killing by the

[2020-01-23 20:12] Relrin commented on #103
For this feature will be necessary to implement a method for handling code updates. In Elixir / Erlang language exists the special method for handling. It described in docs, like [here](https://hexdocs.pm/elixir/GenServer.html#c:code_change/3)

[2020-01-23 20:57] vertexclique commented on #103
We are still thinking for a feasible and reliable implementation for HCS. Though it is a very hard to implement feature we had a basic design document before. Sharing here so we can use it as reference:
https://paper.dropbox.com/doc/L50Ptr6lv8H7NjjomMeav

[2020-01-23 21:09] Relrin commented on #103
One the ways to make it easier for implementation / usage / integraion is to have a universal default registry (which is described in the issue #158) and available only for the main server (=handler/root supervisor?).
However, it also requires the any actor / supervisor must provide at least some minimal information for the default registry, such as used `id` /`module_name`. This kind of informati

[2020-01-24 08:30] Relrin commented on #100
This could be such a nice feature for bastion!

Do have any support for tracking states of each declared supervisor or an actor (useful methods, fields in structs)? Especially the most required thing to have here is to have a method for getting a formatted state (minimal as much as possible) for any instance.

[2020-01-24 09:25] vertexclique commented on #100
State API recently entered in #149 . @onsails is working on the mailbox preservation across restarts. That will enable `link` implementation for individual level. After that we can have link method to watch supervision of selected items.

For `monitor` we need a little bit more upwork, monitor means one more backchannel from the spawned child to spawner so receiving endpoint (which is spawner) wil

[2020-01-24 09:58] vertexclique commented on #100
One more thing I just realized, we create one more type in `lightproc` level. Currenlty `RecoverableHandle` and `ProcHandle` is existing. Like the name says `RecoverableHandle` is recovering from panics. We can have a `MonitorHandle` that will hand out a channel receiver inside the handle to talk through. Needs exploration, that will be a nice idea to do plenty of recovery scenarios. (For both bi-

[2020-01-27 11:34] Relrin commented on #155
I have a couple questions related to the following [piece of code](https://github.com/bastion-rs/bastion/commit/249e66aac0475ab13630d785eaa6bc0e8f8cd326#diff-8d1f1b715f37a8d975a4de27d6a9f604R277-R305) of code:
1) Does it mean the Children is actually a kind of `sub-supervisor` that runs N actors in any moment of time? Correct me, if I am misunderstood the idea.
2) Is it correct that [this call](ht

[2020-01-28 17:54] Relrin commented on #57
Could you remind the place where the [bastion_executor::pool::Pool::recover_async_thread](https://github.com/bastion-rs/bastion/blob/ed604accee8b9c2012dde4e2d129400e9ab9b3d5/bastion-executor/src/pool.rs#L64-L68) call suppossed to be called? Is somewhere in the System or the Worker struct?

[2020-01-28 18:13] azastrael commented on #155
Hey @Relrin :wave:!

I'll answer your first two questions since I authored this piece of code :).

1. You understood correcly. `Children` is indeed running `N = self.redundancy` actors (or `Child`, in this case) at all time.
2. This is also true and there is (was? ;)) similar code in `Supervisor`.

Cheers!

[2020-01-29 13:06] vertexclique commented on #57
@Relrin Good news, because we don't need this anymore. Since the recoverable handle is basically triggering the panic machinery and application logic replaces faulty tasks on the fly async threads are continuously running in an ordered fashion. That said we can remove that actually. Here is one of the call stacks of the threads:

[code]

[2020-01-29 13:25] Relrin commented on #57
Therefore the [bastion_executor::pool::Pool::recover_async_thread](https://github.com/bastion-rs/bastion/blob/ed604accee8b9c2012dde4e2d129400e9ab9b3d5/bastion-executor/src/pool.rs#L64-L68) method must be dropped as well, right?

[2020-01-29 13:26] vertexclique commented on #57
yes :)

[2020-01-30 21:22] #57 closed

[2020-01-31 09:00] Relrin commented on #158
What about implementing a registry based on the [evmap](https://github.com/jonhoo/rust-evmap) / [ccl](https://gitlab.nebulanet.cc/xacrimon/ccl) crates?
Also I think it makes a sense to share my ideas about implementation details:
1. Start from the simple case: automatic registration/deletion for actors after creating or being stopped/killed.
2. Any actor has an access to this init registry via the

[2020-01-31 23:07] rw opened #166 "Documentation request: Hello world for distributed operation"
Could we make a Hello World example of how to do multi-server distributed operation in Bastion? It would be helpful to folks like me who are evaluating Bastion for an Erlang-style use case.

Thank you!

[2020-02-01 20:32] xacrimon commented on #158
Popping in here, for context. `ccl` is now deprecated in favor of the `dashmap` crate.

[2020-02-02 03:12] vertexclique commented on #166
As soon as possible we will make this available. Please bear with us.

[2020-02-02 03:16] vertexclique commented on #158
We were talking about this on Discord, we will go with either `dashmap` or `flurry`.

[2020-02-16 01:06] azastrael opened #169 "ProcHandle/ProcData is not dropping their registered Waker (awaiter)"
~~* **Version**: `0.3.0` - `master`~~
~~* **Platform**: `*`~~
~~* **Subsystem**: `lightproc::proc_data::ProcData`, `lightproc::proc_handle::ProcHandle` and everything depending on them.~~

~~`ProcHandle` implements `Future` and registers its `Context`'s `Waker` inside `ProcData.awaiter` so that it can be awakened when the proc is closed.~~

~~Here's the issue: when `ProcHandle` and `LightProc` are

[2020-02-16 02:05] #169 closed

[2020-02-16 22:52] vertexclique opened #171 "Parallel process local API"
**Is your feature request related to a problem? Please describe.**
API for parallel process locals should run be separatable

**Describe the solution you'd like**
Having a parallel process locals that can be managed across processes would be nice.

**Describe alternatives you've considered**
No alternatives made yet. Need to be designed from scratch. New API. There is nothing like this in the Rust

[2020-02-24 15:07] o0Ignition0o opened #174 "Most of the items under this heading don't seem like guarantees to me, e.g. "completely asynchronous system design" is more of a feature that might imply certain guarantees. "Asynchronous program boundaries" also seems entirely like a feature to me, ditto for "dynamic supervision ...""
As mentionned by @enkore in their awesome typo fix pull request, we might want to reconsider the "guarantees" section. What would make the most sense ?

Most of the items under this heading don't seem like guarantees to me, e.g. "completely asynchronous system design" is more of a feature that might imply certain guarantees. "Asynchronous program boundaries" also seems entirely like a feature to m

[2020-02-24 22:33] vertexclique opened #175 "Write security policy"
Adapt Rust Lang Sec Policy:
https://www.rust-lang.org/policies/security

[2020-02-24 23:50] #175 closed

[2020-02-29 13:11] vertexclique opened #177 "Tracking issue for building Streaming primitives"
**First;** Feel free to edit or comment on this issue (like every other issue of this project).

We are getting close one step at a time to building a completely backpressure-aware, asynchronous streaming approach.

For this, we need to define couple of terminology in this tracking issue and mark what we might want to implement as primitives in Bastion, and then moving forward what should be self-

[2020-03-01 18:05] vertexclique opened #179 "Parallel Job API"
Parallel job API will three-dimensional parallelism where dimensions are:
1 - processes
2 - threads
3 - our children (aka actors/agents and their hierarchy)

This will enable parallelization off the limits. We can talk about data crunching benchmarks afterwards.

[2020-03-08 20:38] #118 closed

[2020-03-09 18:45] Stupremee opened #183 "Names for children"
**Is your feature request related to a problem? Please describe.**
If you are trying to log something like "... send me a message" (where me: Children, ...: Sender of msg), you have to print the long path (`RefAddr::path()`), but the path is super long and not really human-readable.

**Describe the solution you'd like**
Add a field `name` to `RefAddr` which holds a name as a string, like thread na

[2020-03-14 09:03] o0Ignition0o opened #185 "Dispatch default handle is a silent no-op"
**Is your feature request related to a problem? Please describe.**

As mentioned on discord:

https://github.com/bastion-rs/bastion/blob/master/bastion/src/dispatcher.rs#L174

**Describe the solution you'd like**

It would probably make sense to either:
- Warn users they didn’t override the dispatch behavior, so nothing is going to happen
- Do round robin dispatch by default
- maybe both ? (Do rou

[2020-03-14 10:07] Relrin commented on #185
It's totally make sense to me. However, the warning must be displayed once for each instantiated dispatcher with the default behaviour.

For this particular we actually have two possible solutions:
1. Provide a default implementation for the [DispatcherHandler](https://github.com/bastion-rs/bastion/blob/aa7af6c58714d6e176e00e2d414d2534919becde/bastion/src/dispatcher.rs#L65-L75`) trait, so that it

[2020-03-14 13:32] vertexclique commented on #185
I am biased towards to the first solution because of how other systems are working. Like akka:
https://doc.akka.io/docs/akka/current/typed/routers.html#round-robin

[2020-03-25 11:29] vertexclique opened #189 "Backend traits for Persistence layer"
**Is your feature request related to a problem? Please describe.**
I want to store the state of the current mailbox and restore it when I need it.

**Describe the solution you'd like**
The persistence layer should have traits and also impl of possible external storage systems like `rocksdb`.

**Describe alternatives you've considered**
–

[2020-03-31 05:46] untoldbyte commented on #139
if it is of any help. I started looking outside of actix cause it doesnt support this. its very important to have this to truly mimic the fautl tolerance of BEAM

I speak this as an end-user and not a developer

[2020-04-01 10:15] vertexclique opened #191 "Integrate Agnostik as runtime layer."
Replace concrete Bastion Executor with Agnostik.
So everyone can use whatever they want as guarantee.

[2020-04-01 12:20] o0Ignition0o opened #192 "Add an overview to the README"
Bastion is growing ! 🚀

It might be hard for newcomers to figure out what is going on in this project:
What is bastion? What is bastion-executor? What is agnnostik? What is lightproc? Why are there so many repositories and how do they all fit in the bastion-rs picture?

A lot of questions that might be a bit overwhelming. One could consider people could have a look at each project's documentation,

[2020-04-01 12:35] vertexclique opened #193 "Tracking issue for 0.4"
This issue is for tracking 0.4 progress. Feel free to add features that you want in 0.4.

[2020-04-01 12:51] Stupremee commented on #191
Since I'm the maintainer of agnostik, I would like to integrate it

[2020-04-01 12:52] Stupremee commented on #134
I'm working on a wasm executor in agnostik that we will need to add wasm support to bastion. It will be in the next agnostik release

[2020-04-01 13:59] #193 closed

[2020-04-02 11:04] vertexclique commented on #134
It is not possible until `bastion` package can be compiled solely for wasm target. Placing executor doesn't mean that it will compile to wasm.

[2020-04-02 16:15] zmanian commented on #134
Yeah, I think the idea was executing WASM functions via the bastion runtime.

[2020-04-04 10:54] o0Ignition0o commented on #185
Ok I'm going to give it a try.

[2020-04-04 16:37] #185 closed

[2020-04-14 13:25] Relrin commented on #139
Done in PR #199.

[2020-04-14 13:25] #139 closed

[2020-04-20 13:21] Relrin opened #201 "Integration between the Resizer struct and bastion-executor"
**Is your feature request related to a problem? Please describe.**
Auto-scaling up/down actor groups based on the incoming traffic. And the perfect place for a getting a better scalability and performance cases could be the bastion executor.

**Describe the solution you'd like**
An existing solution (on which I'm currently working on) based on adding a Resizer instance to the Children. So it could

[2020-05-01 04:37] developerfred commented on #191
@Stupremee can you go up a work in progress?

[2020-05-10 06:04] attliaLin commented on #134
Nice idea. Maybe provide the ability for the other script languages like Lua, python as the executing runtime.

[2020-05-13 17:06] attliaLin commented on #102
I'd like to take it.

[2020-05-13 19:53] vertexclique commented on #102
@attliaLin Feel free to take it. Assigned on you. If you need further info we can provide it.

[2020-05-16 12:29] #102 closed

[2020-05-19 15:01] vertexclique opened #208 "Reenable mem leak check in MIRI"
Currently, we are disabling `-Zmiri-ignore-leaks` prior to https://github.com/rust-lang/miri/issues/1318 . When AtomicPtr is transparent to MIRI enable this back again.

Transactional Memory PR will disable checks => https://github.com/bastion-rs/bastion/pull/207

[2020-05-19 15:02] vertexclique commented on #208
Marking this as a diagnostics problem.

[2020-06-17 15:00] oScape commented on #192
I think it might be a good first issue for me :) I could do a first bastion round.

[2020-06-17 15:05] o0Ignition0o commented on #192
Sure go ahead, please let me know if you need help :tada:

[2020-06-17 16:16] vertexclique opened #210 "Write context become/unbecome for message handling closures"
We need context become / unbecome pattern for solving different message handling states.

[2020-06-18 17:56] LukeMathWalker opened #212 "Load balancing on actor groups"
## The usecase

Certain types of workloads follow a request/response or rpc pattern:
- responding to an HTTP request in a REST API;
- sending an acknowledgment to an AMQP broker when a consumer has successfully processed a message.

To ensure high availability these workloads are typically fulfilled by a software system with several replicated processing units: incoming requests/messages could mod

[2020-06-18 20:22] LukeMathWalker commented on #212
Speaking with very little awareness of implementation constraints, the API I have in mind looks more or less like this (compare with the existing example https://github.com/bastion-rs/bastion/blob/master/src/bastion/examples/middleware.rs):
[code]
where `RoundRobinStrategy` would implement a `LoadBalance' trait along these lines:
[code]
`ask_group` implementation would then call `choose` internall

[2020-06-19 08:02] LukeMathWalker commented on #212
Re-reading this today, I noticed that I put the choice of load balancing strategy on the caller, while it makes more sense (and it's more coherent with the current structure) to have it on the consumer (`ChildrenRef`) using a method like `with_lb_strategy`, similar to the current `with_dispatcher`.

[2020-06-19 10:46] o0Ignition0o opened #214 "the msg! macro"
One of the first pain points I had when I started working on bastion was the `msg!` macro.

There's a lot going on there, and it might be refactored leveraging [Type Level Programming](http://willcrichton.net/notes/type-level-programming/) or something.

Let's share our thoughts on that here, and maybe we can figure out a nice trait or API to setup children and message handlers :)

For reference,

[2020-06-19 11:07] o0Ignition0o opened #215 "Update the bastion graph"
Maybe as a followup to #192 we could try to update the [bastion arch picture](https://github.com/bastion-rs/bastion/blob/master/img/bastion-arch.png).

It would allow us to put it back on the readme and it would look better on the website :)

[2020-06-19 11:53] o0Ignition0o opened #216 "Dispatcher example"
It might be hard at first to figure out how children work and how to send messages to them.

A common pattern is round robin dispatch, so it would be great to have such an example:

Spawn 5 children
Create a dispatcher

Send several messages to the group, and watch them go to each child in turn

[2020-06-19 11:55] oScape commented on #216
I would love to take it. It might be interesting for me to learn more about children/message.

[2020-06-19 11:58] o0Ignition0o commented on #216
Amazing, go for it ! :rocket:

[2020-06-22 11:42] vertexclique opened #220 "Spawn local implementation for the executor"
Need to be able to spawn onto the same thread

[2020-06-22 13:09] vertexclique commented on #166
Hi @rw as promised you can find an example here:
https://github.com/bastion-rs/showcase/blob/master/bastion-cluster/src/main.rs

This example forms a Bastion Cluster that enables message passing between distributed actors.
Received remote messages can be replicated and destined to local actors and enable further processing.

Thanks for bearing with us!

[2020-06-22 13:09] #166 closed

[2020-06-22 14:16] #137 closed

[2020-06-24 20:43] ZaMaZaN4iK opened #222 "Provide more detailed documentation and check missing features"
Hi!

At first, thank you for the library. I am a quite new in Rust and didn't find any other good Rust library for working with actors. So thank you for your job!

I came from C++ world, where I have some experience with another actor framework for C++ - [SObjectizer](https://github.com/Stiffstream/sobjectizer). Since I am mostly familiar with SObjectizer - I am trying to map entities from SObject

[2020-06-25 14:59] #216 closed

[2020-06-26 11:57] vertexclique opened #226 "Update dependency versions to latest known state"
Before rolling the next version we need to update dependencies to the latest state.
There is a bot doing it. But let's double-check concrete versions.

[2020-06-28 04:56] atouchet opened #227 "Remove usage of kernel32-sys crate in bastion-executor"
kernel32-sys is no longer used with winapi 0.3: https://github.com/retep998/winapi-rs#should-i-still-use-those--sys-crates-such-as-kernel32-sys

[2020-06-29 11:11] ZaMaZaN4iK commented on #222
@o0Ignition0o @vertexclique can you provide at least some answers to my questions? I think we can start here collecting answers for all questions and committing them as a documentation to `bastion`. I think @vertexclique can give answers for a lot of my questions :)

[2020-06-29 11:49] o0Ignition0o commented on #222
Oh sure sorry.

I'm not sure I can reply to all of the questions, so I'll leave it to @vertexclique, but here's a starter:

We're trying super hard to do so, there's a [showcase]() and a couple of [examples]() right now, but you're more than correct, we need to provide more (and we're trying to ^^)

On top of that, [part two of our blog series on bastion and tide](https://blog.bastion.rs/2020/06/1

[2020-06-29 12:31] ZaMaZaN4iK commented on #222
@o0Ignition0o Thank you for the answers! They are really helpful. Will be awesome to see answers for other questions :)

[2020-06-29 21:34] #226 closed

[2020-06-30 07:16] Keruspe commented on #227
:+1:

Btw, this pulls in both winapi 0.3 and winapi 0.2 atm, just because of kernel32-sys

[2020-06-30 07:24] Keruspe opened #230 "Drop bastion-qutex dependency"
bastion-qutex brings in both futures 0.1 and futures-preview 0.3 while futures 0.3 has now been available for a while.

This makes bastion basically carry three different versions of futures.

Something like https://crates.io/crates/async-mutex can probably be used instead

[2020-07-02 15:15] vertexclique commented on #230
#231 fixes this fully I think. Gonna close.

[2020-07-02 15:16] #230 closed

[2020-07-03 08:16] #227 closed

[2020-07-03 11:29] o0Ignition0o opened #233 "Windows, CI test --all fail ?"
```thread 'answer_and_tell_signatures' panicked at 'attempt to shift left with overflow', src\bastion-executor\src\placement.rs:195:33```

cargo test --all on windows, not sure if it's because the CI is broken or we should investigate

[2020-07-05 11:54] ZaMaZaN4iK commented on #222
@vertexclique can you please provide more details according to my questions? Thank you!

[2020-07-10 14:19] o0Ignition0o commented on #233
fixed :D

[2020-07-10 14:19] #233 closed

[2020-07-17 19:16] Relrin opened #236 "Acking retrieved messages from mailbox"
**Is your feature request related to a problem? Please describe.**
For the autoscaling feature (PR #202) would be great to have an ack mechanism for the processed message, that could help eliminate an issues around dropping actors that took the message but the executed future in the pending state.

**Describe the solution you'd like**
For any message, whatever its type and method that  was used fo

[2020-07-17 19:40] Relrin commented on #214
Probably #236 issue is a part of the ticket

[2020-07-19 13:59] vertexclique commented on #222
Bear with me. I need some time, and I will respond to this issue when things in my plate emptied. I didn't forget what you've written.

[2020-07-19 14:04] vertexclique commented on #189
This is linked to #214 , if typed structs are passed as a handler. This will enable storing data in these structures with user's will. If that's not a feasible solution, we might need to seek for other alternatives for storing state individually for actors. But I think that will solve the problem.

[2020-07-21 13:44] vertexclique opened #242 "ChildRef tests are failing"
[code]

[2020-07-24 21:37] pietgeursen opened #243 "100% CPU usage (sometimes)"
* **Version**: 0.4.0
* **Platform**: Linux  5.7.7-arch1-1 #1 SMP PREEMPT Wed, 01 Jul 2020 14:53:16 +0000 x86_64 GNU/Linux
* **Subsystem**: ?
* **Rust**: rustc 1.45.0

I see similar behaviour as #109. If I run a simple bastion program, ~50% of the runs one of my cpus goes to 100%

I can reproduce this with something as simple as:

[code]

[2020-07-28 17:14] o0Ignition0o opened #246 "documentation: Bastion"
In the [Bastion struct documentation example](https://docs.rs/bastion/0.4.0/bastion/struct.Bastion.html), there's an `await` call in a non async function (main).

We might want to create an async function to [run!](https://github.com/bastion-rs/bastion/blob/master/src/bastion/examples/fibonacci.rs#L111) this instead!

I would be happy to mentor anyone on this doc issue, feel free to reply with que

[2020-07-29 01:07] anlumo opened #249 "Having Tasks Pinned to Thread"
**Is your feature request related to a problem? Please describe.**

I want to combine bastion with winit for a desktop application that uses wgpu rendering to display content.

For this, we want to have a thread dedicated to wgpu (at least the main render loop, it might spawn more children for specific tasks). It should be able to receive and send messages via bastion to other parts of the applica

[2020-07-29 01:32] anlumo commented on #249
Another solution I tried that didn't work, using the futures 0.3 crate:

[code]

[2020-07-29 10:36] creativcoder commented on #246
assign-me!

[2020-07-29 10:48] o0Ignition0o commented on #246
Amazing, just assigned you! Feel free to ask any question, I'd be happy to help!

[2020-07-29 16:43] anlumo commented on #249
This *does* work, kinda:

[code]

It's awfully inconvenient, though. It has a dispatch task that only forwards messages to the actual thread, and I need to implement my own two-way communication protocol for this.

[2020-07-29 17:08] o0Ignition0o commented on #246
fixed through #250 , thanks for doing this!

Please reach out to me if you wanna try an other one :)

[2020-07-29 17:08] #246 closed

[2020-07-29 18:52] anlumo opened #251 "recv_timeout"
**Is your feature request related to a problem? Please describe.**

In BastionContext, there's `recv` and `try_recv`. The API I'm using requires that I send a 30Hz heartbeat when no message is received, and both of these can't do that.

**Describe the solution you'd like**

A `recv_timeout` like in [std::sync::mpsc::Receiver](https://doc.rust-lang.org/std/sync/mpsc/struct.Receiver.html#method.recv

[2020-07-30 10:18] creativcoder commented on #215
Hey @o0Ignition0o assign me! Post this, I would also like to work on #189

[2020-07-30 10:28] o0Ignition0o commented on #215
Amazing! thanks a lot for doing this!

[2020-08-11 15:43] o0Ignition0o commented on #251
I think it was fixed through #253

[2020-08-11 15:43] #251 closed

[2020-08-11 15:44] o0Ignition0o commented on #243
Hey, that's an interesting one, I'll try to reproduce it!

[2020-08-11 18:34] o0Ignition0o commented on #243
I need to dig deeper with a profiler, but I just ran into a lot of allocations / resizes in the hot path while profiling something else, #260 may or may not have an impact here ^^

[2020-08-12 09:23] o0Ignition0o commented on #242
Might have to do with unfortunate timing while setting up and tearing down bastion, have a look at https://github.com/bastion-rs/bastion/pull/258/files#diff-667612182ac697d0733da0bed8fc9a4dR711 for a workaround when running unit tests

[2020-08-12 20:41] o0Ignition0o commented on #243
[code]

[2020-08-12 22:53] o0Ignition0o commented on #243
![image](https://user-images.githubusercontent.com/9465678/90076079-22fd0580-dcff-11ea-9161-7c0e535267a4.png)

Ok I think it starts looking good!

@anlumo @pietgeursen could you please give it an other try targeting `igni/affine_steal_sort` on bastion and bastion-executor ? 🙏

[2020-08-12 22:59] o0Ignition0o opened #262 "Investigate around the smp_update and mean calculation"
Reminder to have a more thorough look at the smp stats ( https://github.com/bastion-rs/bastion/pull/261/files#diff-999170f14d3863e498864ddeca00b465R74 and https://github.com/bastion-rs/bastion/pull/261/files#diff-999170f14d3863e498864ddeca00b465R179) in the bastion-executor.

* **Version**:
* **Platform**:
* **Subsystem**:

[2020-08-13 19:48] pietgeursen commented on #243
Nice one @o0Ignition0o!

I tried out that branch and it seems to fix it. My testing is _super_ basic, I'm just starting and stopping the program a bunch and checking the cpu usage. But cpu usage always stays low.

[2020-08-13 19:50] o0Ignition0o commented on #243
Amazing news! There's still a couple of tweaks I'm trying to perform, but it will definitely have a good impact for everyone, thanks a lot for raising this issue!

[2020-08-20 16:59] o0Ignition0o commented on #212
Just merged https://github.com/bastion-rs/bastion/pull/268 which fixes a couple of dispatcher related hiccups, and allows you to have round robin with [named DispatcherTypes](https://github.com/bastion-rs/bastion/blob/master/src/bastion/examples/round_robin_dispatcher.rs#L100) and [named BroadcastTargets](https://github.com/bastion-rs/bastion/blob/master/src/bastion/examples/round_robin_dispatcher

[2020-08-24 22:00] #243 closed

[2020-08-30 15:24] marshauf opened #269 "broadcast_message example deadlocks"
Hello,

the broadcast_message example deadlocks with warnings about "bastion::dispatcher: The message can't be delivered to the group with the 'Processing' name.". Workers are started after the warnings.

When I change the supervisor creation order to: response_supervisor, map_supervisor, input_supervisor results vary but sometimes some messages get processed by a response_group child. Sometimes a

[2020-08-30 15:31] o0Ignition0o commented on #269
Hi, thanks for such a thorough description!

I think I've stumbled on a similar issue [in this commit](https://github.com/bastion-rs/bastion/commit/6a9f11eb5e8107740ffa6bd0ed24b88ef92a7d67)

Could you please target the master branch and tell me how it goes ?

Thanks again!

[2020-08-30 15:49] marshauf commented on #269
Thank you. It' seems to be improved but the master branch doesn't fix the issue.

The unmodified example still does not process any messages most of the time. On one run a thread panicked.
[code]

On most runs with the modified example, I received completely processed messages. A few runs didn't complete. A few runs had panicked threads.
On a successful run a few warnings were logged: `WARN bastio

[2020-08-30 16:43] o0Ignition0o commented on #269
Super interesting, I think I might be able to reproduce it with the info you gave me, on my way! :)

[2020-08-30 16:57] o0Ignition0o commented on #269
Soooo I think the order is kind of wrong ? I mean we're sending things before someone is available to receive them which will... go bad!

[2020-08-30 16:58] o0Ignition0o commented on #269
@marshauf can you please try to target igni/broadcast_message_example_order and let me know how it goes ? :)

[2020-08-30 17:41] marshauf commented on #269
I made the same modification to the example, too. As I wrote it improved it a lot. Targeting the master branch improved it further. But a few runs still don't end with ``[Response] Aggregated data: `{"C": 5, "A": 2, "B": 2}``. They look like this:
[code]
or this:
[code]

[2020-08-30 19:17] o0Ignition0o commented on #269
Thanks for your reply, I'm glad to see it improved.

I hope the last issues are resolved by #261 , but merging it will take a bit of time, Mind if I ping you once it's done ? :)

[2020-08-30 19:41] marshauf commented on #269
No, please go ahead. Thank you :)

[2020-08-31 12:16] wnklmnn opened #271 "Call to bind(addr) never returns in example/tcp-servers"
* **Version**:
https://github.com/bastion-rs/bastion/commit/75904cfe43279cd44014d464227d36020582d060
* **Platform**:
Linux nixos 5.6.18 #1-NixOS SMP Wed Jun 10 18:22:53 UTC 2020 x86_64 GNU/Linux
* **Subsystem**:

Hi,
I tried running the tcp-servers example but for some reason the call to `Handle::<TcpListener>::bind(addr)` never seems to return.
Trying to use ports below 1024 which should result i

[2020-08-31 12:27] o0Ignition0o commented on #271
Thanks a lot for narrowing it down, we'll try to have a look at the difference :)

[2020-08-31 13:05] wnklmnn commented on #271
Bisect points to this commit. https://github.com/bastion-rs/bastion/commit/09d28deba98009334b103545a7fae96966fa8c24

[2020-08-31 13:06] o0Ignition0o commented on #271
Thanks for the bisect, it seems like i messed up something while feature gateing :( I ll try to figure it out

[2020-09-09 16:29] ZaMaZaN4iK commented on #222
@vertexclique maybe you just forgot about the issue :) Just a friendly reminder :)

[2020-09-21 10:31] RalfJung opened #274 "Miri flag passing changed"
`cargo miri test` changed to be more compatible with `cargo test`, but this means we had to find a different way to pass flags to the interpreter, so there now is a `MIRIFLAGS` environment variable for that. The old way still works for now, but is deprecated. To remain compatible, would be great if you could update `cargo miri test --features lever/nightly -- -Zmiri-disable-isolation -Zmiri-ignore

[2020-09-21 11:35] o0Ignition0o commented on #274
Hey there, thanks a lot for letting us know! :)

[2020-10-06 13:18] tuxiqae opened #277 "broadcast_message example crashes occasionally"
* **Version**: current `master` branch
  - bastion - `0.4.4-alpha.0`
  - bastion-executer -  `0.4.1-alpha.0`
  - lightproc -  `0.3.6-alpha.0`
* **Platform**: `Linux Host 5.8.13-zen1-2-zen #1 ZEN SMP PREEMPT Fri, 02 Oct 2020 15:14:58 +0000 x86_64 GNU/Linux`

I tried running the `broadcast_message.rs` example a couple of times (using `cargo run --example broadcast_message`), it ran perfectly fine th

[2020-10-06 13:25] o0Ignition0o commented on #277
Oh that's interesting, i wonder if i can reproduce it !

[2020-10-06 13:31] tuxiqae commented on #277
Let me know if you need my help

[2020-10-11 17:27] o0Ignition0o opened #280 "Doc links"
Quite a bit of doc links are out of date, refering to the old location of files. this calls for a pass to check what happened and what is where now

* **Version**:
* **Platform**:
* **Subsystem**:

[2020-10-23 17:19] resolritter commented on #214
This week was my first working with this project. The `msg!` macro was nothing but unpleasant work with at first sight (I also think it looks ugly, but I digress).

One big issue is that `rustfmt` doesn't work properly on code inside of macros. This one hosts whole function bodies inside of it which get no benefit from the formatting from `rustfmt`.

Another bad thing is that, since it's a syntax

[2020-10-29 19:09] resolritter opened #287 "restarted children can't be reached from existing contexts"
* **Version**: 0.4.3
* **Platform**: Linux
* **Subsystem**: Arch

[code]

As stated in the title, the "Other" child will receive one message only, crash, then become unreachable.

I suspect this is because after a crash, "Root"'s BastionContext has not been updated to get a reference to the restarted child. That, or the restarted child doesn't get registered correctly for broadcasting purposes.

[2020-11-04 16:16] resolritter commented on #222
I'll answer from my experience from using the library, but bear in mind I'm no core developer so I won't answer everything and the details might be incomplete.

First of all, regarding your plea for "more examples", you should first assess what is missing from the examples. Asking for more examples without telling what you want is the same as asking for someone else to do two things: (1) the job o

[2020-12-02 09:28] o0Ignition0o opened #290 "Investigate sanitizers / license compliance in the CI"
Sanitizers / license compliance is somehow unreliable, we wanna have a look at it

[2020-12-02 12:41] o0Ignition0o opened #291 "Scaling Groups: UpperBound limit doesn't seem to behave as expected"
* **Version**: Stable
* **Platform**: Any
* **Subsystem**: ?

str:

- pick https://github.com/bastion-rs/bastion/blob/master/src/bastion/examples/scaling_groups.rs and edit the following lines:

line 83:    `.with_upper_bound(UpperBound::Limit(2)) //From 10`

line 110: `Delay::new(Duration::from_millis(**number * 5000)).await;   //From 500`

line 120: ```println!(
        "[Processing] Worker #{:?

[2020-12-03 07:25] captain-me0w commented on #287
PR is merged for this issue

Thanks @resolritter

[2020-12-03 07:25] #287 closed

[2020-12-05 11:02] captain-me0w commented on #291
tried the above steps. Couldn't able to reproduce.

[2020-12-21 15:53] o0Ignition0o commented on #291
closing since it was a features misuse :)

[2020-12-21 15:53] #291 closed

[2021-01-19 12:59] hiqsociety opened #297 "totally new to rust here but how fault tolerant compared with elixir?"
trying to write a chat app. any example on this? would like to understand how fault tolerant this is compared with erlang.

otherwise, i understand all the good points written, possible to share the limitations compared with erlang as well? e.g. where erlang is stronger

[2021-01-25 16:04] scrabsha commented on #214
I recently got interested in Bastion, and I may have a solution that can replace the entire `msg` macro.

The thing is to use method chaining instead of match arms. For instance, the fibonnaci example could become:

[code]

The `MsgBuilder` would store the different closures and call the appropriate one. A proof of concept that this is possible can be found [here][closures-playground]. It currentl

[2021-02-03 10:18] Keruspe opened #303 "New lightproc release?"
It would be nice to get a new lightproc release to avoid depending on two versions of crossbeam

[2021-02-03 14:08] #274 closed

[2021-02-03 16:25] o0Ignition0o commented on #269
Ok uhm I totally forgot to ping you here I'm sorry, #261 has been merged a while ago and i think / hope we're good ^^'

I m going to merge the pull request and close this issue, feel free to reopen it if it still is relevant ^^

[2021-02-03 16:26] #269 closed

[2021-02-03 16:27] o0Ignition0o commented on #277
Hey there, we merged quite a bit of stuff lately, is there any chance this cannot be reproduced anymore ? :)

[2021-02-03 16:32] o0Ignition0o commented on #242
I think we're good with this one, arent we ?

[2021-02-03 17:01] vertexclique commented on #242
@o0Ignition0o yes, we have fixed this.

[2021-02-03 17:05] #242 closed

[2021-02-08 02:12] marshray opened #307 "Seems odd to warn about this"
Looks like normal operation. Possibly leftover dev code?

https://github.com/bastion-rs/bastion/blob/0d159ea4839e5aeb29f8bd1e9b7400556288230b/src/bastion/src/dispatcher.rs#L95

[2021-02-08 08:18] o0Ignition0o commented on #307
Hey!

good catch! It seems to be a leftover from when we debugged the broadcast targets, I think it should be trace!

[2021-02-23 22:42] scrabsha commented on #280
I'll work on this one! Additionally, I'll migrate every link I find to the new intra-doc-link.

[2021-02-24 07:55] o0Ignition0o commented on #280
That's amazing, thanks for doing this! 🎉

[2021-02-24 10:27] scrabsha commented on #280
I have nearly fixed everything.

I'm wondering what should be done [here][weird-link]: should we redirect to [`RefAddr`] or to [`Answer`].

[weird-link]: https://github.com/bastion-rs/bastion/blob/0d159ea4839e5aeb29f8bd1e9b7400556288230b/src/bastion/src/context.rs#L577
[`RefAddr`]: https://docs.rs/bastion/0.4.4/bastion/envelope/struct.RefAddr.html
[`Answer`]: https://docs.rs/bastion/0.4.4/bastion/

[2021-02-24 10:32] o0Ignition0o commented on #280
Haha good question 😂

I would point to `RefAddr`, and I think we can rework the docs later, to add more intent as to what we mean by "signature, sender, receiver" etc.

But I guess this will make more sense once #309 lands :D

[2021-02-24 18:50] scrabsha commented on #280
One last question:
The documentation for `BastionContext` has a link entitled [`exec`]. I searched across the codebase, but found no function with that name. What am I missing?

[`exec`]: https://github.com/bastion-rs/bastion/blob/0d159ea4839e5aeb29f8bd1e9b7400556288230b/src/bastion/src/context.rs#L77

[2021-02-24 19:11] o0Ignition0o commented on #280
Entitled links, I hate them :p

i think it refers to a child’s with exec closure,that is executed on each spawn:
https://github.com/bastion-rs/bastion/blob/master/src/bastion/src/child.rs#L423

https://github.com/bastion-rs/bastion/blob/master/src/bastion/src/children.rs#L306

Maybe ?

sorry I’m on the phone I can’t format it better :/

[2021-03-01 21:55] fosdickio commented on #215
@o0Ignition0o Will you assign me for this one and review?  I opened up PR #311 to address this issue.

[2021-03-02 11:02] vertexclique commented on #215
#311 is merged, closing this one. Thanks again!

[2021-03-02 11:02] #215 closed

[2021-03-02 17:30] #280 closed

[2021-03-02 17:31] #214 closed

[2021-03-26 13:30] vertexclique commented on #307
Lowered to debug, before the next release these are going to be trace.

[2021-03-26 13:30] #307 closed

[2021-04-07 08:04] o0Ignition0o commented on #303
Ok I think we're good now :)

[2021-04-07 08:04] #303 closed

[2021-04-07 08:05] o0Ignition0o commented on #277
Going to close this as I cannot reproduce it, please reopen it if it makes sense :)

[2021-04-07 08:05] #277 closed

[2021-04-07 08:15] o0Ignition0o commented on #212
Ok I think the `Distributor` api now allows for all of the requirements here!

as shown [here](https://github.com/bastion-rs/bastion/blob/master/src/bastion/src/distributor.rs#L87) we can create a `let workers = Distributor::named("workers")` and send messages / questions to one or all of them:

[code]

going to close this and hope it fits the use case! :) if not please let me know, I'll gladly it

[2021-04-07 08:15] #212 closed

[2021-04-07 08:18] o0Ignition0o commented on #297
Hey there :)

First of all I'd like to apologize for the time it took me to reply :(

I think a tiny chat app would be a great use case for our examples, and there's quite a lot of folks who have a look at this projects with a variant of a chat app in mind.

I'll try to write an example that uses the latest apis, but in the meantime could you please list the usecase you'd like to see covered ? eg

[2021-04-07 08:25] o0Ignition0o opened #320 "Bikeshed the api traits / structs and function names"
Since we're focused on polishing the APIs at the moment, it's a great time to try to find names for our APIs that fit.

The main names we could bikeshed can be `Children` / `Child` | `Supervisor` | `Distributor` | `MessageHandler`

Given the project name uses wording that can be found in a military / defense context, refering to `Children` as `Platoon` (or maybe a `Squad` / `Crew` ?) was suggested

[2021-04-07 09:32] vertexclique commented on #320
At the time when this project first established, I wanted to use process pid for addressing async closures. Then onwards, I see that people wants to address content and it evolved to Akka's children model https://doc.akka.io/japi/akka/current/akka/actor/dungeon/Children.html

Then we can address multiple actors with asterisk under the same group like "supervisor::*" will give all the async closure

[2021-04-09 06:37] timClicks commented on #320
Where possible, I would avoid using a plural for a struct name, e.g. Children. It creates mental friction for people learning the API because it leads to sentences that are grammatically incorrect, e.g. "a Children" and "two Children's"

[2021-04-09 09:55] vertexclique commented on #320
I saw that too, we can get rid of that construct and leave redundancy to users directly in condition-controlled loops. I also don't like it in the current form, I agree.

[2021-04-11 08:46] o0Ignition0o opened #322 "Bastion_test system"
**Is your feature request related to a problem? Please describe.**

In test settings, It might sometimes be unfortunate to have a SYSTEM that handles all of the bastion lifecycle, especially when we want to isolate tests.

**Describe the solution you'd like**
The idea would be to have a `bastion_test` module that would be local to a test, and provide its own init() start() stop() and block_until_s

[2021-04-11 18:52] o0Ignition0o commented on #322
Closing this because I don't think it's required, as long as we spawn distinct groups and target distinct distributors.

[2021-04-11 18:52] #322 closed

[2021-07-04 10:15] werner291 opened #334 "Perhaps provide some more gradual examples on the https://bastion.rs/ site?"
Hello!

I've looked at https://bastion.rs/, and I must say that, as a newcomer, I find the examples a bit intimidating.

I have a basic understanding of how actors work, but when I look at the site, as a newcomer, what I see:

[code]

My reaction: "Ok... I can print things inside of a 'runtime', whatever that is... Looks simple enough."

And then:

[code]

Bastion certainly looks interesting, and

[2021-07-04 13:03] o0Ignition0o commented on #334
Hey and thanks a lot for your feedback! It does indeed look quite overwhelming, we might need to refer to the [examples]( https://github.com/bastion-rs/bastion/blob/master/src/bastion/examples) instead!

[2021-11-23 11:49] hardliner66 commented on #290
Those tools might help:
- https://github.com/EmbarkStudios/cargo-about
- https://github.com/EmbarkStudios/cargo-deny

[2021-12-02 11:10] vertexclique opened #338 "Update to latest Lever 0.1.2"
**Is your feature request related to a problem? Please describe.**
Lever 0.1.1 is not compilable with latest compiler.

**Describe the solution you'd like**
Update to latest lever 0.1.2.

**Describe alternatives you've considered**
None

[2022-08-30 16:30] Fritiofhedstrom opened #342 "Android compatibility"
I'd like to use Bastion for my android project, but stumbled upon a problem.
When compiling with --target aarch64-linux-android then this code in src/placement.rs generates the stub only.

[code]

What i would like is this:
` #[cfg(any(target_os = "linux", target_os="android"))]`
Not sure how many other places that are affected by this. There is a way to manually set the --cfg target_os in rustc,

[2022-09-28 06:45] DAOCUONG commented on #342
i. have same problem with ios

[2022-09-28 08:13] o0Ignition0o commented on #342
Hmm I'd be happy to take a PR that adds ios support as well, i suppose the linux functions shall work, but it would need to be tested

[2022-09-28 08:17] DAOCUONG commented on #342
Lets me test with ios and confirm

[2022-09-28 08:31] DAOCUONG commented on #342
crash thread 'bastion-driver-dynamic' panicked at 'called `Option::unwrap()` on a `None` value', /Users/dao/.cargo/registry/src/github.com-1ecc6299db9ec823/bastion-executor-0.4.2/src/load_balancer.rs:36:58
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace
thread 'bastion-driver-dynamic' panicked at 'Lazy instance has previously been poisoned', /Users/dao/.cargo/registry

[2022-11-10 03:09] ghost opened #344 "Memory does not release"
# Struggling with Bastion does not release memory after handling messages

* **Version**: `bastion v0.4.5` feature `tokio-runtime` / `tokio v1.21` feature `full` / `tokio-util v0.7` feature `full`
* **Platform**: Linux 5.15.68.1-microsoft-standard-WSL2 x86_64 GNU/Linux
* **Subsystem**: Ubuntu 20.04 LTS

Hi,

Now I am working with a project that uses Bastion as a core of `actor model` architect. I